list

In [5]:
list1=[]
print(list1)

()

In [23]:
list=[1,2,3,4,5,6,7,8,9,10]
print(list)
list.append([11,12])
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12]]

In [46]:
list=[1,2,3,4,5,6,7,8,9,10]
print(list[7])

list=["hello python","world",[1,2,25.3,"keionics"]]
print(list[-1][-2])

8
25.3

In [8]:
list=[1,2,3,4,5]
print(list)
list.pop()
print(list)

list=[1,2,3,4,5]
print(list)
list.pop(-4)
print(list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 3, 4, 5]

In [22]:
list=["hello","to","world"]
print(list[1:2])

['to']

Tuple

In [3]:
tuple=()
print(tuple)

()

In [9]:
tuple1=(0,1,2,3)
tuple2=("keionic","hubli")
tuple3=tuple1+tuple2
print(tuple1)
print(tuple2)
print(tuple3)

(0, 1, 2, 3, 'keionic', 'hubli')

In [25]:
str1=("hello world")
print(str1)
t1=tuple(str1)
print("str to tuple",t1)

hello world
str to tuple ('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [20]:
t1=(1,2,3,4,5,6,7,8,9,10)
print(t1[10:2:-2])

print(t1[3:5])

(10, 8, 6, 4)
(4, 5)

In [28]:
t1=("\twelcome")
t2=("\tto")
t3=("\tpython")
t4=t1+t2
t5=t4+t3
print(t5)

	welcome	to	python

In [40]:
t1=("hello world")
len(t1)

11

In [1]:
numbers=(1,2,3,4,5,6,7,8,9,10)
sum=sum(numbers)
print(sum)

55

In [12]:
val1=12
val2=55
val3=86
max_val=max(val1,val2,val3)
print(max_val)

86

In [24]:
t1=(1,2,3,4,5,6,7,8,9,10)
print(t1[10:2:-1])

(10, 9, 8, 7, 6, 5, 4)

Sets

In [28]:
set1=set()
print(type(set1))
print(set1)

<class 'set'>
set()

In [7]:
set1=set("hello python")
print(set1)

{'p', 'y', 'e', 'l', 'h', ' ', 'n', 'o', 't'}

In [5]:
set2=set()
set2.add(8)
set2.add(9)
set2.add(10)
for i in range(1,8):
    set2.add(i)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [39]:
name={"hello","to"}
name.add("world")
for i in range(2,5):
    name.add(i)
print(name)

{2, 3, 4, 'hello', 'world', 'to'}

In [57]:
set3=set()
set4=set()

for i in range(1,6):
    set3.add(i)

for i in range(6,11):
    set4.add(i)

set5=set3<set4
print(set5)



print(set3)
print(set4)

False
{1, 2, 3, 4, 5}
{6, 7, 8, 9, 10}

In [59]:
set6=set()
set7=set()

for i in range(1,6):
    set6.add(i)

for i in range(6,11):
    set7.add(i)

set8=set6&set7
set8=set6.intersection(set7)
print(set8)

set()

Dictionaries

In [1]:
dict={}
print(type(dict))
print(dict)

<class 'dict'>
{}

In [2]:
d1={1:("hello"),2:("world  to")}
print(d1)

{1: 'hello', 2: 'world  to'}

In [4]:
d1={1:"python"}
d2=d1.copy()
print(d2)

{1: 'python'}

In [4]:
dict={"name":"python","number":1234567891,"code":{1:10,2:20,3:30}}
print(dict)

d2=dict.copy()
print(d2)

{'name': 'python', 'number': 1234567891, 'code': {1: 10, 2: 20, 3: 30}}
{'name': 'python', 'number': 1234567891, 'code': {1: 10, 2: 20, 3: 30}}

In [6]:
d1={}
d1[1]='python'
d1[2]='to'
d1[3]='world'
print(d1)

d1={1:"welcome"}
d1

{1: 'python', 2: 'to', 3: 'world'}

{1: 'welcome'}

Assignment

In [44]:
# write program to find the eldest amoung three person age recived from the user
list=[i]
# n=int(input("enter the age"))
for i in range(1,i+1):
    a=int(input("enter values"))
    list.append(a)
print(" eldest amoung three ",max(list))

 eldest amoung three  235

In [31]:
# Write a program to accept two numbers & mathematical operater and perform operations accordingly

a=(int(input("enter the number")))
b=(int(input("enter the number")))
print("addition of number",a+b)
print("subtraction of number",a-b)
print("multiplication of number",a*b)
print("Division of  number",a/b)
print("floar division of number",a//b)
print("moudul of  number",a%b)
print("squarerroot of  number",a**b)
print("cap of  number",a^b)

addition of number 14
subtraction of number -4
multiplication of number 45
Division of  number 0.5555555555555556
floar division of number 0
moudul of  number 5
squarerroot of  number 1953125
cap of  number 12

In [35]:
# Write a program to check the number record from the user is positive or nagative

n=(int(input("enter tyhe number")))
if (n>0):
    print("positive")
else:
    print("nagative")

nagative

In [50]:
# Write a program if you have  wrriten an exam for total score of 100 and if your score above are equal to60 then you will be consider as pass in the exam.

s1=int(input("enter the  score"))
if (s1>=60):
    print("pass")
else:
    print("fail")

pass

In [56]:
# Write a program to check if the given number is prime or not

d1=(int(input("enter the number")))
d2=(int(input("enter the number")))
if (d1/d2):
    print("prime")
else:
    print("not")

prime