1. CREAT 6X6 ORDER MATRIX USING  LIST COMPREHENSION MATHOD AND ALL MATRIX  VALUE MUST BE ODD NUMBER REPETATION ALLOWED

In [29]:
matrix=[[i for i in range(12) if (i%2!=0)] for j in range(6)]
matrix

[[1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11]]

1. CREAT 16X16 ORDER MATRIX USING  LIST COMPREHENSION MATHOD AND ALL MATRIX  VALUE MUST BE ODD NUMBER REPETATION ALLOWED

In [31]:
matrix=[[i for i in range(32) if (i%2!=0)] for j in range(16)]
matrix

[[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31]]

In [39]:
list1=[1,2,3,4,5]
list1.append([6,7,8,9])
print(list1)

[1, 2, 3, 4, 5, [6, 7, 8, 9]]

In [44]:
list=[1,2,3,4,1,5]
print(list.count(1))

2

In [45]:
list=[1,2,3,4,5]
list.extend([6,7,8,9])
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
list=[1,2,3,4,5]
print(list.index(5))

4

In [72]:
list=[1,2,3,4,5]
list.insert(0,7)
print(list)

[7, 1, 2, 3, 4, 5]

In [69]:
list=[1,2,3,4,5]
print(list.pop(1))

2

In [78]:
list=[1,2,3,4,5,6,7,8,9,10,5]
print(list.remove(5))
print(list.remove(5))
print(list)

None
None
[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [81]:
list=[1,2,3,4,5,6,7,8,9,10,5]
list.sort()
list

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10]

In [ ]:
list=[1,2,3,4,5,6,7,8,9,10,5]
print()

In [91]:
mat=[]
for i in range(16):
    mat.append([])
    for j in range(16):
        mat[i].append(j)
mat

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]]

In [7]:
class_A=set()
class_B=set()
class_c=set()
for i in range(35,60):
    class_A.add(i)
for j in range(40,75):
    class_B.add(j)
for k in range(50,99):
    class_c.add(k)

total1=class_A.intersection(class_B)
print(total1)
Total=total1.intersection(class_c)
print(Total)

{40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59}
{50, 51, 52, 53, 54, 55, 56, 57, 58, 59}

In [15]:
# num=141
# f=num
# sum=0
# while num >= 0:
#     rem = num%10
#     sum=sum*10+rem
#     num=num/10 

# if f==sum:
#     print("it is palindrome:",sum)

# else:
#     print("it is not a palindrome number")

a="151"
b=""

for i in a:
    b=i+b

if (a==b):
    print("It is a palindrome  num")

else:
    print(" it is not palindrome num")

It is a palindrome  num

Create 5 classes of engineers with their attributes with job descriptions using inheritance.

In [30]:
class engineers ():

    def __init__(self,name,age,experince):
        self.name=name
        self.age=age
        self.experince=experince

    def job_rool(self):
            pass

class  cs_engineer(engineers):

    def __init__(self, name, age, experince):
        super().__init__(name, age,experince)
        self.experince=experince

    def job_rool(self):
        return f"{self.name}  is a cs engineer with {self.experince}  years of experience."
    
class  EC_engineer(engineers):

    def __init__(self, name, age, experince):
        super().__init__(name, age,experince)
        self.experince=experince

    def job_rool(self):
        return f"{self.name}  is a EC engineer with {self.experince}  years of experience."


class MEC_engineer(engineers):

    def __init__(self, name, age, experince):
        super().__init__(name, age,experince)
        self.experince=experince

    def job_rool(self):
        return f"{self.name}  is a MEC engineer with {self.experince}  years of experience."
    

class  civil_engineer(engineers):

    def __init__(self, name, age, experince):
            super().__init__(name, age,experince)
            self.experince=experince

    def job_rool(self):
        return f"{self.name}  is a civil engineer with {self.experince}  years of experience."
    

class  EE_engineer(engineers):

    def __init__(self, name, age, experince):
            super().__init__(name, age,experince)
            self.experince=experince

    def job_rool(self):
        return f"{self.name}  is a EE engineer with {self.experince}  years of experience."

obj=cs_engineer("Ravi",25,5)
print(obj.job_rool())

obj1=MEC_engineer("samarth",20,4)
print(obj1.job_rool())

obj2=EC_engineer("gourav",19,3)
print(obj2.job_rool())

obj3=civil_engineer("shankar",21,2)
print(obj3.job_rool())


obj4=EE_engineer("suswit",23,6)
print(obj4.job_rool())

Ravi  is a cs engineer with 5  years of experience.
samarth  is a MEC engineer with 4  years of experience.
gourav  is a EC engineer with 3  years of experience.
shankar  is a civil engineer with 2  years of experience.
suswit  is a EE engineer with 6  years of experience.